stages:
  - test
  - lint

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip

before_script:
  - python --version
  - pip install --upgrade pip
  - pip install -r requirements.txt

test:
  stage: test
  image: python:3.11
  script:
    - pip install pytest pytest-cov
    - pytest test/ --cov=src --cov-report=term
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  only:
    - branches

lint:
  stage: lint
  image: python:3.11
  script:
    - pip install pylint
    - pylint src/
  allow_failure: true
  only:
    - branches